/*Setter border-box for hele siden. Da er padding og border inkludert i width og height dette gir penere div'er!*/
/*Fjerner noen standard settings:*/
/* TODO: 
    - :not(:target) overflow:hidden
    - flytte X til ved siden av #Hamburger 

*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

/*Gir mellomrom mellom ulike paragrafer*/
p{
    margin-bottom: 1rem;
}

/*Farge på bakgrunnen*/
body{
    background-color: white;
}

/*Footer med bilde og cutout text*/
.footer{
    overflow: hidden;
    position: relative;
    background-image: url(https://images.pexels.com/photos/33041/antelope-canyon-lower-canyon-arizona.jpg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
    background-size: cover;
    height: 300px;
    width: 100%;
    margin-top: 1500px; /* MIDLERTIDIG SLIK AT DEN IKKE OVERLAPPER NAVBAREN */ 
}

/*Cutout text*/
.footer-text{
    background-color: white;
    color: black;
    font-size: 10vw; /*Skalerbar tekst*/
    font-weight: bold;
    margin: 0 auto; /*Tekstboks havner i midten*/
    padding: 10px;
    width: 50%;
    text-align: center; /*Sentrerer teks*/
    position: absolute; /*Setter posisjon*/
    top: 50%; /*Tekst plassert i midten*/
    left: 50%; /*Tekst plassert i midten*/
    transform: translate(-50%, -50%); /*mer for å plassere tekst*/
    mix-blend-mode: screen; /*Her lages cutout'en!*/
}

/*Sticky navbar*/
.navbar{
    overflow: hidden;
    background-color: teal;
    position: fixed;
    top: 0;
    width: 100%;
}

/*Hvordan lenkene i navbaren ser ut*/
.navbar a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    border-bottom: solid 2px transparent;
    border-radius: 1rem;
    margin: 0.5rem;
    /*width: 25%;*/ /*Lange knapper*/
}

/*Lenkene i navbaren endrer utseende når man holder musepekeren over dem*/
.navbar a:hover{
    background-color: rgb(1, 163, 163);
    color: white;
    border-bottom: solid 2px white;
    transition: 0.4s;
}

.navbar a.active{
    background-color: white;
    color: black;
}

/*Hamburgerknapp, som ikke syns for stor skjerm*/ 
.navbar .icon{
    display: none;
}

/* 3 Hamburger striper*/
.hamburger{
    width: 35px;
    height: 4px;
    background-color: black;
    margin-top: 5.3px;
    /* transition: 0.4s; legges til av javascript */
}

/* Hamburger X*/
.hamburgerX{
    width: 35px;
    height: 4px;
    background-color: black;
    margin-top: 5.3px;
    display: none;
    z-index: 10;
    /* transition: 0.4s; legges til av javascript */
}

/* Hamburger-menyen */
#Hamburger{
    display: none;
    position: fixed;
    bottom: 0vw;
    left: 50%;
    height: 70%;
    margin-top: -37.5%;
    width: 42%;
    margin-left: -21%;
    z-index: 10;
    text-align: center;
    transition: 1s linear;
}

/* a-tagsene i Hamburger-menyen*/
#Hamburger a{
    display: block;
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    border-bottom: solid 2px transparent;
    border-radius: 1rem;
    margin: 0.5rem;
}

/* hr-tagsene i Hamburger-menyen*/
.navHr{
    height: 2px;
    background-color: black;
    border: none;
}
/*Fjerner decoration fra a-tags */
#Hamburger a:visited, #Hamburger a:link{
    text-decoration: none;
    color: black;
}

#Hamburger a.active {
    background-color: white;
    color: black;
}

#Hamburger a:hover {
    background-color: rgb(1, 163, 163);
    color: white;
    border-bottom: solid 2px white;
    transition: 0.4s;
}
/*Bakgrunn når man er inne i hamburger-menyen */
#tint{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 153, 0);
    opacity: 0.65;
    display: none;
    z-index: 9;
}
/* viser hamburgermenyen og tinten */
#HamburgerFull:target #Hamburger, #HamburgerFull:target #tint{
    display: block;
}

/*Fjerner hamburgerknappen */
#HamburgerFull:target .hamburger{
    display: none;
}

/*Viser hamburger-X */
#HamburgerFull:target .hamburgerX{
    display: block;
    z-index: 10;
}

#hamburgerX{
    position: fixed;
    top: 0px;
    right: 0px;
    height: 61px !important;
    width: 67px !important;
    
}
.bar4{
    -webkit-transition: rotate(-45deg) translate(-8px,6px); /*For Safari browser, tror jeg*/
    transform: rotate(-45deg) translate(-3px,5px);
}
.bar5{
    -webkit-transition: rotate(45deg) translate(-8px,-6px); /*For Safari browser, tror jeg*/
    transform: rotate(45deg) translate(-3px,-5px);
}


/*Hamburgerknapp kan endre seg med javascript, når den klikkes på*/
.changeButton .bar1{
    -webkit-transition: rotate(-45deg) translate(-8px,6px); /*For Safari browser, tror jeg*/
    transform: rotate(-45deg) translate(-8px,6px);
}
.changeButton .bar2{
    opacity: 0;
}
.changeButton .bar3{
    -webkit-transition: rotate(45deg) translate(-8px,-6px); /*For Safari browser, tror jeg*/
    transform: rotate(45deg) translate(-8px,-6px);
}


/*zig-zag layout*/

/*Hver row kan inneholde flere forskjellige kolonne-div'er, der den totale vidden skal bli 100%*/
.row{
    padding: 3rem;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

/*Kan brukes som en ekstra klasse for rader som skal ha en bestemt farge*/
.row-color{
    background-color: rgba(211, 211, 211, 0.473);
}

/*Første row på hver side trenger padding på toppen, slik at navbaren ikke dekker over elementene*/
.top{
    padding-top: 6rem;
}

/*Her er en rekke kolonne-diver av ulik størrelse som kan brukes i kombinasjon med hverandre:*/
.column-25{
    float: left;
    width: 25%;
    padding: 1rem;
}
.column-33{
    float: left;
    width: 33.33333%;
    padding: 1rem;
}
.column-50{
    float: left;
    width: 50%;
    padding: 1rem;
}
.column-66{
    float: left;
    width: 66.66666%;
    padding: 1rem;
}
.column-75{
    float: left;
    width: 75%;
    padding: 1rem;
}
.column-100{
    float: left;
    width: 100%;
    padding: 1rem;
}


/*En classe for feks. h1 tags. Setter font størrelse, som også skalerer med skjermstørrelsen*/

.small-font{
    /*font-size: ?rem;*/
    font-size: 3vw; /*Den store teksten krymper når skjermstørrelsen krymper!*/
}

.medium-font{
    /*font-size: ?rem;*/
    font-size: 5vw; /*Den store teksten krymper når skjermstørrelsen krymper!*/
}

.large-font{
    /*font-size: 5rem;*/
    font-size: 6vw; /*Den store teksten krymper når skjermstørrelsen krymper!*/
}

.xlarge-font{
    /*font-size: 7rem;*/
    font-size: 8vw; /*Den store teksten krymper når skjermstørrelsen krymper!*/
}

.large-p-font{
    font-size: 36px;
}

.medium-p-font{
    font-size: 20px;
}

.button{
    border: none;
    color: white;
    padding: 1rem;
    font-size: 1rem;
    cursor: pointer;
    background-color: teal;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}


/*CSS FOR INDEX.HTML*/

#fp-row-top{
    height: 100vh;
} /* gjør første rad like høy som skjermen*/

#fp-col-1 > h1,h2, p, button{
    text-align: center;
    letter-spacing: 5px;
}

#fp-col-1 > h1{
    color: red;
}


#fp-col-1 > h2{
    color: mediumseagreen;
}

#fp-col-1 > p{
    margin-top: 10vh;
    width: 33.3333%;

    padding: 5px;
    margin-left: 33.3333%
}

#fp-row-2 > div > h1{
    text-align: center;
    font-weight: normal;
    letter-spacing: 5px;
    color: rgba(0,0,0,0.85);
    height: 1em;
}

#fp-row-3  > div > div > p, #fp-row-4 > div > div > p{
    line-height: 2;
    letter-spacing: 2px;
    margin-top: 10px;
    padding:10px 20px;

}


#fp-row-3, #fp-row-4{
    height: 90vh;
    padding: 1rem;
}
#fp-row-3 > div , #fp-row-4 > div{
    background-color: rgba(255,255,255,0.8);
    border-radius: 5%;
    margin: 5px;
}

#fp-row-3>.column-33, #fp-row-4>.column-33{
    float: left;
    width: 347px;
    padding: 1rem;
    margin: 2.5%;
    height: 100%;
    margin: 2.5%;
    height: 575px;
}

#fp-row-3 > div > div > img, #fp-row-4 > div > div > img{
    border-radius: 50%;
    width: 60%;
    margin-left: 20%;
    margin-bottom: 10%;
    margin-top: 5%;
}


#fp-row-5>div>img{
    height: 500px;
    border-radius:20px;
    min-width: 100%;
    min-height: 100%;
}

#fp-row-6{
    padding: 50px 0;
}

#fp-row-6 > div{
    border: 3px solid mediumseagreen;
    border-radius: 2%;
    width: 350px;
    padding: 1rem;
    margin: 2.5%;
    height: 575px;
}

#fp-row-6 > div > div > img{
    border-radius: 50%;
    margin-left: 20%;
    width: 60%;
    margin: 10px 10% 20px 10%;
    width: 250px;
    height: 250px;
    object-fit: cover;
    /* margin: topp, høyre, bunn, venstre*/
}

#fp-row-6 > div > div > h2{
    margin-bottom: 15px;
    background-color: white;
    /* margin: topp, høyre, bunn, venstre*/
}

#fp-row-6 > div > div > p{
    letter-spacing: 1px;
    line-height: 1.5;
    text-align: left;
}

#fp-headline-3{
    height: 20vh;
}

#fp-headline-3 >div >h1{
    text-align: center;
    font-weight: normal;
    letter-spacing: 5px;
    color: rgba(0,0,0,0.85);
    height: 1em;
}

#fp-bottom-text{
    margin-top: 30%;
}

/*Slutt CSS FOR INDEX.HTML*/

/*De store og små div'ene i zig-zag faller under hverandre*/
@media screen and (max-width: 1000px){
    .column-25,
    .column-33,
    .column-50,
    .column-66,
    .column-75,
    .column-100{
        width: 100%;
        text-align: center;
    }
    img{
        margin: auto;
    }
}

/*Elementer på menyen frosvinner, og hamburgerknapp dukker opp*/
/*not(:first-child) betyr at den skal beholde den første lenken i menyen, men at de andre skal forsvinne.*/
@media screen and (max-width: 1000px){
    .navbar a:not(:first-child){
        display: none;}
    .navbar a.icon{
        float: right;
        display: block;
    }
}

/*MEDIA UNIKT FOR INDEX.HTML*/
@media screen and (max-width: 1150px){
    #fp-row-5>div>img{
        display: none;
    }

    #fp-row-5{
        width: 100%;
        text-align: center;
    }
}

/*Slutt MEDIA UNIKT FOR INDEX.HTML*/