/*Setter border-box for hele siden. Da er padding og border inkludert i width og height dette gir penere div'er!*/
/*Fjerner noen standard settings:*/
/* TODO:
    - :not(:target) overflow:hidden
    - flytte X til ved siden av #Hamburger

*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    scroll-behavior: smooth;
}

/*Gir mellomrom mellom ulike paragrafer*/
p{
    margin-bottom: 1rem;
}

/*Full størrelse på første rad:*/
html, body{
    height: 100%;
}
/*Gi første rad denne klassen, i tillegg til de andre klassene den skal ha*/
.full-height{
    height: 100%;
    min-height: 640px;
    background-image: linear-gradient(white, rgba(211, 211, 211, 0.473));
    /*background-image: url(joe-whitebrick.jpg);
    background-size: cover;*/
}

/*Farge på bakgrunnen*/
body{
    background-color: white;
}

/*Sticky navbar*/
.navbar{
    overflow: hidden;
    background-color: darkgrey;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}

/*Hvordan lenkene i navbaren ser ut*/
/*Sources lenken i footeren får samme stiling!*/
.navbar a{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    /*border: solid 1px white;*/
    background-color: rgba(255, 255, 255, 0.199);
    background-color: darkgrey;
    border-radius: 0.3rem;
    margin: 0.5rem;
    /*width: 25%;*/ /*Lange knapper*/
}

/*Lenkene i navbaren endrer utseende når man holder musepekeren over dem*/
.navbar a:hover{
    background-color: rgb(1, 163, 163);
    color: white;
    /*border-bottom: solid 2px white;*/
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.432);
    transition: 0.4s;
}

.navbar a.active{
    background-color: white;
    color: black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.432);
}

/*Hamburgerknapp, som ikke syns for stor skjerm*/
.navbar .icon{
    display: none;
}

/* 3 Hamburger striper*/
.hamburger{
    width: 35px;
    height: 4px;
    background-color: black;
    margin-top: 5.3px;
    /* transition: 0.4s; legges til av javascript */
}

/* Hamburger X*/
.hamburgerX{
    width: 35px;
    height: 4px;
    background-color: black;
    margin-top: 5.3px;
    display: none;
    z-index: 10;
    /* transition: 0.4s; legges til av javascript */
}

/* Hamburger-menyen */
#Hamburger{
    display: none;
    position: fixed;
    bottom: 0vw;
    left: 50%;
    height: 70%;
    margin-top: -37.5%;
    width: 60%;
    margin-left: -30%;
    z-index: 10;
    text-align: center;
    transition: 1s linear;
}

/* a-tagsene i Hamburger-menyen*/
#Hamburger a{
    display: block;
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    border-bottom: solid 2px transparent;
    border-radius: 1rem;
    margin: 0.5rem;
}

/* hr-tagsene i Hamburger-menyen*/
.navHr{
    height: 2px;
    background-color: black;
    border: none;
}
/*Fjerner decoration fra a-tags */
#Hamburger a:visited, #Hamburger a:link{
    text-decoration: none;
    color: black;
}

#Hamburger a.active {
    background-color: white;
    color: black;
}

#Hamburger a:hover {
    background-color: rgb(1, 163, 163);
    color: white;
    border-bottom: solid 2px white;
    transition: 0.4s;
}
/*Bakgrunn når man er inne i hamburger-menyen */
#tint{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 153, 0);
    opacity: 0.65;
    display: none;
    z-index: 9;
}
/* viser hamburgermenyen og tinten */
#HamburgerFull:target #Hamburger, #HamburgerFull:target #tint{
    display: block;
}

/*Fjerner hamburgerknappen */
#HamburgerFull:target .hamburger{
    display: none;
}

/*Viser hamburger-X */
#HamburgerFull:target .hamburgerX{
    display: block;
    z-index: 10;
}

#hamburgerX{
    position: fixed;
    top: 0px;
    right: 0px;
    height: 61px !important;
    width: 67px !important;

}
.bar4{
    -webkit-transition: rotate(-45deg) translate(-8px,6px); /*For Safari browser, tror jeg*/
    transform: rotate(-45deg) translate(-3px,5px);
}
.bar5{
    -webkit-transition: rotate(45deg) translate(-8px,-6px); /*For Safari browser, tror jeg*/
    transform: rotate(45deg) translate(-3px,-5px);
}

/*Knapp for å hoppe ned på siden*/
.scrollDown{
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 100px;
    width: 0;
    height: 0;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    border-top: 28px solid rgb(29, 29, 29);
}

/* Hele div'en for scroll knappen + teksten */

.wholeScroll{
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    bottom: 25px;
    left: 0;
    width: 100%;
    z-index: 0;
}

.wholeScroll:hover{
    transform: translate(0, -5%);
    transition: .2s all ease-out;
}

.scrollText{
    color: black;
    text-decoration: none;
    font-family: Verdana;
}

/*Scroll opp*/
.scrollUp{
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 100px;
    width: 0;
    height: 0;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    border-bottom: 28px solid rgb(29, 29, 29);
}
.wholeScrollUp{
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    z-index: 0;
}

.wholeScrollUp:hover{
    transform: translate(0, -5%);
    transition: .2s all ease-out;
}

.scrollTextUp{
    color: black;
    text-decoration: none;
    font-family: Verdana;
}








/*zig-zag layout*/

/*Hver row kan inneholde flere forskjellige kolonne-div'er, der den totale vidden skal bli 100%*/
.row{
    padding: 3rem;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

/*Kan brukes som en ekstra klasse for rader som skal ha en bestemt farge*/
.row-color{
    background-color: rgba(211, 211, 211, 0.473);
}

.row-color2 {
  background-color: #FAE9CF;
}

/*Første row på hver side trenger padding på toppen, slik at navbaren ikke dekker over elementene*/
.top{
    padding-top: 6rem;
}

/*Her er en rekke kolonne-diver av ulik størrelse som kan brukes i kombinasjon med hverandre:*/
.column-20{
    float: left;
    width: 25%;
    padding: 1rem;
}
.column-25{
    float: left;
    width: 25%;
    padding: 1rem;
}
.column-30{
    float: left;
    width: 30%;
    padding: 1rem;
}
.column-33{
    float: left;
    width: 33.33333%;
    padding: 1rem;
}
.column-40{
    float: left;
    width: 40%;
    padding: 1rem;
}
.column-50{
    float: left;
    width: 50%;
    padding: 1rem;
}
.column-66{
    float: left;
    width: 66.66666%;
    padding: 1rem;
}
.column-75{
    float: left;
    width: 75%;
    padding: 1rem;
}
.column-100{
    float: left;
    width: 100%;
    padding: 1rem;
}


/*En classe for feks. h1 tags. Setter font størrelse, som også skalerer med skjermstørrelsen*/

.center{
    text-align: center;
}

.white{
    background-color: white;
}

.light-font{
    font-weight: lighter;
}

.bold{
    font-weight: bolder;
}

.text-colour{
    color: teal;
}

.small-font{
    font-size: 2rem;
    line-height: 1.5;
}

.medium-font{
    font-size: 3.5rem; 
}

.large-font{
 
   font-size: 6rem;
}

.xlarge-font{
   font-size: 6rem;
}

.large-p-font{
    font-size: 2rem;
    line-height: 1.5;
}

.medium-p-font{
    font-size: 1.5rem;
    line-height: 1.5;
}

.small-p-font{
    font-size: 1.2rem;
    line-height: 1.5;
}

#colortext{
    color: mediumseagreen;
}

#boldtext {
    font-weight: bold;
}

.button{
    border: none;
    color: white;
    padding: 1rem;
    font-size: 1rem;
    cursor: pointer;
    background-color: teal;
}

.large-button{
    padding: 2rem;
    font-size: larger;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

/*Gir en linje på høyre hånd slik at kolonner som står tett blir lettere å skille fra hverandre*/
.column-border{
    border-right: solid 0.3rem black;
}

.ourApp-img{
    border-radius: 50%;
    border: solid 0.3rem mediumseagreen;
    width: 500px;
}


/*CSS FOR INDEX.HTML*/


#fp-col-1 > h1, #fp-col-1 > h2, #fp-col-1 > p, #fp-col-1 > button{
    text-align: left;
    letter-spacing: 5px;
    width: 75%;
}

#fp-col-1 > h1{
    color: black;
    background-color: rgba(255,255,255, 0.0);

    border-radius: 1%;
}


#fp-col-1 > h2{
    color: mediumseagreen;
    text-align: left;
    background-color: rgba(255,255,255, 0.0);


}

#fp-col-1 > p{
    margin-top: 2vh;

    background-color: rgba(255,255,255, 0.0);
    padding: 5px;
   text-align: left;

}

#fp-row-2 > div > h1{
    text-align: center;
    font-weight: normal;
    letter-spacing: 5px;
    color: rgba(0,0,0,0.85);
    height: 0.2em;

}

#callToAction{
    margin-top: 50px;
    color: mediumseagreen;
}

#fp-row-3{
    padding-bottom: 0;
}

#fp-row-4{
    padding-top: 10px;
    padding-bottom: 0;
}

#fp-row-3  > div > div > div > p, #fp-row-4 > div > div > div > p{
    line-height: 2;
    letter-spacing: 2px;
    margin-top: 10px;
    padding:10px 20px;

}

#fp-row-3  > div > div> div > h2, #fp-row-4 > div> div > div > h2{
    text-align: center;
}

#fp-row-3 > div> div  , #fp-row-4 > div> div{
    background-color: rgba(255,255,255,0.8);
    border-radius: 5%;
    padding: 1rem;
}


#fp-row-3 > div> div > div > img, #fp-row-4 > div> div > div > img{
    height: 300px;
    width: auto;
    margin: 25px auto 25px auto;


}

#fp-row-pitch > div > p{
    line-height: 1.5;
}

#fp-row-pitch-2{
    border-top: solid 100px white;
}

#fp-row-5>div>img{
    height: 500px;
    border-radius:20px;
    min-width: 100%;
    min-height: 100%;
}

#fp-row-6{
    padding: 50px 0;
}

#fp-row-6 > div > div{
    border: 3px solid mediumseagreen;
    border-radius: 2%;
    padding: 1rem;
    margin: 2.5%;
}


#fp-row-6 > div > div > div > img{
    border-radius: 50%;
    min-width: 250px;
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin: 10px auto 20px auto;
    /* margin: topp, høyre, bunn, venstre*/
}

#fp-row-6 > div > div > div > h2{
    margin-bottom: 15px;
    background-color: white;
    text-align: center;
    /* margin: topp, høyre, bunn, venstre*/
}

#fp-row-6 > div > div > div > p{
    letter-spacing: 1px;
    line-height: 1.5;
    text-align: left;
}

#fp-headline-3{
    height: 20vh;
}

#fp-headline-3 >div >h1{
    text-align: center;
    font-weight: normal;
    letter-spacing: 5px;
    color: rgba(0,0,0,0.85);
    height: 1em;
}


/*Slutt CSS FOR INDEX.HTML*/

/* USING APP CSS */

#usingApp-row-top{
    text-align: left;
}

#usingApp-row-top > div >  h1{
    margin-top: 5%;
    margin-bottom: 30px;
    color: mediumseagreen;
    letter-spacing: 5px;
}

#usingApp-row-top > div >  p{
    letter-spacing: 5px;
    text-align: left;
    line-height: 40px;
}


#usingApp-row-top > div >  img{
    border-radius: 1%;
    width: 80%;
}

#usingApp-quickAccess{
    padding: 0;
}

#usingApp-quickAccess > div{
    padding: 50px 20px 50px 20px;
    border-top: solid mediumseagreen 2px;
    border-bottom: solid mediumseagreen 2px;
    text-align: center;
}

#usingApp-row-4{
    height: 50px;
    padding-bottom: 100px;
}

#usingApp-row-4 > div > h1{
    text-align: center;
    font-weight: normal;
    letter-spacing: 5px;
    color: rgba(0,0,0,0.85);
    height: 1em;
}

.tutorialColumn{
    min-width: 260px; /*slik at de ikke overflower dersom man printer pdf-versjon av siden */
}

.tutorialColumn > div {
    border: 3px solid mediumseagreen;
    padding: 20px;

}

.tutorialColumn > div > div> h1{
    margin-bottom: 15px;
}
.tutorialColumn > div > div > div{
    height: 50px;
}
.tutorialColumn > div > div > div > a > img {
    width: 50px;
    margin: 0 10px;
    float: right;

}

#fp-row-2 > div > button > h1{
    text-align: center;
    font-weight: normal;
    letter-spacing: 5px;
}

#img-row{
    padding: 0;
}

#fp-pitch-title{
    padding-bottom: 70px;
}

#img-row > .column-100{
    padding: 0;
}


#download > div > button{
    width: 80%;
    letter-spacing: 2px;
    margin-left: 10%;
    margin-right: 10%;
}

/*END USING APP CSS */

/* editing text sizing on mission*/
.missionP {
  font-size:1.5rem;
  line-height: 1.5;
}


/*New footer*/
/*------------------------------------------*/
#footer{
    padding: 0rem;
    padding-top: 1rem;
    border-top: solid 0.2rem darkgray;
}

/*Social media buttons/links*/
.column-mediabuttons{
    float: left;
    width: 33.33333%;
    padding: 0;
    padding-top: 1rem;
}

#socialmedia a{
    color: black;
    /*padding: 0 2px;*/
}
    
/*hover-responsive bakgrunn*/
#socialmedia a span{
    padding: 0.6rem;
    font-size: 4.35rem;
    background: lightgray;
    border-radius: 0.5rem;
    height: 4.3rem;
    width: 5rem;
    line-height: 50px;
}

#socialmedia a span:hover{
    background-color: rgba(60, 179, 114, 0.712);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.432);
    transition: 0.4s;
}

/*Sources knappen arver styling fra lenkene/knappene i navbaren, men får noen unike egenskaper for å ligge pent*/
/*Starter med å tilbakestille noen stilinger på selve navbaren:*/
.sources{
    overflow: initial;
    background-color: initial;
    position: initial;
    top: initial;
    z-index: initial;
}
/*Gir deretter litt ekstra stiling til selve lenken*/
.sources a{
    float: initial;
    width: 80%;
    margin: auto;
    margin-top: 1.2rem;
}

#contact-information > ul > li{
    font-size: 1.4rem;
    margin-bottom: 1rem;
}
/*-------------------------------------------------------*/

 /*begynnelse media tags*/

 @media screen and (max-width: 1300px){
     #contact-information,
     #socialmedia{
         width: 50%;
     }
     .sources{
         width: 100%;
         padding-bottom: 2rem;

     }
     .sources > a{
         width: 50%;
     }
 } 

/*De store og små div'ene i zig-zag faller under hverandre*/
@media screen and (max-width: 1000px){
    .column-25,
    .column-33,
    .column-50,
    .column-66,
    .column-75,
    .column-100,
    #contact-information,
    #socialmedia{
        width: 100%;
        text-align: center;
    }

    img{
        margin: auto;
    }
    .full-height{
        height: initial;
        min-height: initial;
    }
    .column-border{
        border-right: none;
    }
    #links-footer {
      border-top: 5px solid black;
      border-top-style: double;
    }
     .row-1-img{
        display: none;
    } /* gjemmer forsidebildet når divene legger seg under hverandre */
}

/*Skalering for vide, men smale skjermer. Teksten blir litt mindre*/
@media screen and (max-height: 720px){
    .xlarge-font{
        font-size: 6rem;
    }
    .large-font{
        font-size: 6rem;
    }
    .medium-font{
        font-size: 3rem;
    }
}

/*Elementer på menyen frosvinner, og hamburgerknapp dukker opp*/
/*not(:first-child) betyr at den skal beholde den første lenken i menyen, men at de andre skal forsvinne.*/
@media screen and (max-width: 1000px){
    .navbar a:not(:first-child){
        display: none;}
    .navbar a.icon{
        float: right;
        display: block;
    }
    .wholeScroll{
        display: none;
    }
}

/*Litt mindre padding på rows, i mobiltelefonmodus*/
@media screen and (max-width: 400px){
    .row{
        padding: 1rem;
    }
    .top{
        padding-top: 6rem;
    }
}

/*MEDIA UNIKT FOR INDEX.HTML*/

@media screen and (min-width: 1000px){

    #fp-row-6 > div > div{
        min-height: 690px;
    } /* gjør at intervju-divene er like lange i fullskjerm*/

    #fp-row-3 > div> div  , #fp-row-4 > div> div{
        min-height: 700px;
    }

     .tutorialColumn > div {
    min-height: 500px;
    }
}



@media screen and (max-width: 1150px){
    #fp-row-5>div>img{
        display: none;
    }

    #fp-row-5{
        width: 100%;
        text-align: center;
    }


    fp-col-1 > h1, #fp-col-1 > h2, #fp-col-1 > p{
       width: 100%;

    }

}

@media screen and (max-width: 350px){
    
    #fp-row-6 > div > div > div > img{
        min-width: 200px;
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width: 300px){
    
    #fp-row-6 > div > div > div > img{
        min-width: 150px;
        width: 150px;
        height: 150px;
    }
}

@media screen and (max-width: 250px){
    
    #fp-row-6 > div > div > div > img{
        min-width: 100px;
        width: 100px;
        height: 100px;
    }
}
/*Slutt MEDIA UNIKT FOR INDEX.HTML*/

/*SOURCES CSS*/

.sources-image{
    width: 150px;
}

/*SOURCES CSS SLUTT*/


/*MEDIA UNIKT FOR USINGAPP.HTML*/
@media screen and (max-width: 1000px){
   #usingApp-row-top > div >  img{
    display: none;
}
    }

/*Slutt MEDIA UNIKT FOR USINGAPP.HTML*/


/* FONTSKALERING */

@media screen and (max-width: 800px){

       
    .small-font{
        font-size: 2rem;
    }
    
    .medium-font{
        font-size: 2.5rem; 
    }
    
    .large-font{
     
       font-size: 4rem;
    }
    
    .xlarge-font{
       font-size: 4rem;
    }
    
    .large-p-font{
        font-size: 1.5rem;
    }
    
    .medium-p-font{
        font-size: 1.5rem;
    }
    
    .small-p-font{
        font-size: 1.2rem;
    
    }


@media screen and (max-width: 650px){

          
    .small-font{
        font-size: 1.5rem;
    }
    
    .medium-font{
        font-size: 2rem; 
    }
    
    .large-font{
     
       font-size: 2rem;
    }
    
    .xlarge-font{
       font-size: 4rem;
    }
    
    .large-p-font{
        font-size: 1.5rem;
    }
    
    .medium-p-font{
        font-size: 1.4rem;
    }
    
    .small-p-font{
        font-size: 1.2rem;
    
    }

}

@media screen and (max-width: 400px){

         
    .small-font{
        font-size: 1.4rem;
    }
    
    .medium-font{
        font-size: 1.6rem; 
    }
    
    .large-font{
     
       font-size: 2rem;
    }
    
    .xlarge-font{
       font-size: 3rem;
    }
    
    .large-p-font{
        font-size: 1.4rem;
    }
    
    .medium-p-font{
        font-size: 1.2rem;
    }
    
    .small-p-font{
        font-size: 1.2rem;
    
    }

}


@media screen and (max-width: 275px){

         
    .small-font{
        font-size: 1.4rem;
    }
    
    .medium-font{
        font-size: 1.4rem; 
    }
    
    .large-font{
     
       font-size: 2rem;
    }
    
    .xlarge-font{
       font-size: 3rem;
    }
    
    .large-p-font{
        font-size: 1.4rem;
    }
    
    .medium-p-font{
        font-size: 1.2rem;
    }
    
    .small-p-font{
        font-size: 1.2rem;
    
    }

}


/* Nav-overlay fix for landskapsmodus */
@media screen and (max-height: 610px){
    #Hamburger a{
        padding: 0.5rem;
    
    }
    #Hamburger{
        height: 90%;
    }
}

@media screen and (max-height: 375px){
    #Hamburger a{
        font-size: 14pt;
    
    }
    #Hamburger{
        height: 100%;
    }

}
@media screen and (max-height: 300px){
    #Hamburger a{
        font-size: 12pt;
        line-height: 0.5rem;
    
    }
    #Hamburger{
        height: 100%;
    }

}

@media screen and (max-width: 350px){
    #Hamburger a{
        font-size: 14pt;
    }
}


