@media print{
	/*Setter border-box for hele siden. Da er padding og border inkludert i width og height dette gir penere div'er!*/
/*Fjerner noen standard settings:*/
/* TODO:
    - :not(:target) overflow:hidden
    - flytte X til ved siden av #Hamburger

*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

/*Gir mellomrom mellom ulike paragrafer*/
p{
    margin-bottom: 1rem;
}

/*Full størrelse på første rad:*/
html, body{
    height: 100%;
}
/*Gi første rad denne klassen, i tillegg til de andre klassene den skal ha*/
.full-height{
    height: 100%;
}

/*Farge på bakgrunnen*/
body{
    background-color: white;
}


/*zig-zag layout*/

/*Hver row kan inneholde flere forskjellige kolonne-div'er, der den totale vidden skal bli 100%*/
.row{
    padding: 3rem;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

/*Kan brukes som en ekstra klasse for rader som skal ha en bestemt farge*/
.row-color{
    background-color: rgba(211, 211, 211, 0.473);
}

/*Første row på hver side trenger padding på toppen, slik at navbaren ikke dekker over elementene*/
.top{
    padding-top: 6rem;
}

/*Her er en rekke kolonne-diver av ulik størrelse som kan brukes i kombinasjon med hverandre:*/
.column-20{
    float: left;
    width: 25%;
    padding: 1rem;
}
.column-25{
    float: left;
    width: 25%;
    padding: 1rem;
}
.column-30{
    float: left;
    width: 30%;
    padding: 1rem;
}
.column-33{
    float: left;
    width: 33.33333%;
    padding: 1rem;
}
.column-40{
    float: left;
    width: 40%;
    padding: 1rem;
}
.column-50{
    float: left;
    width: 50%;
    padding: 1rem;
}
.column-66{
    float: left;
    width: 66.66666%;
    padding: 1rem;
}
.column-75{
    float: left;
    width: 75%;
    padding: 1rem;
}
.column-100{
    float: left;
    width: 100%;
    padding: 1rem;
}


/*En classe for feks. h1 tags. Setter font størrelse, som også skalerer med skjermstørrelsen*/

.small-font{
    /*font-size: ?rem;*/
    font-size: 3vw; /*Den store teksten krymper når skjermstørrelsen krymper!*/
}

.medium-font{
    /*font-size: ?rem;*/
    font-size: 5vw; /*Den store teksten krymper når skjermstørrelsen krymper!*/
}

.large-font{
    /*font-size: 6rem;*/ /*Ca det samme som 6vw, for full skjerm*/
    /*font-size: 6vw; /*Den store teksten krymper når skjermstørrelsen krymper!*/

    font-size: max(6vw, 3rem); /*Dette kan være en veldig god løsning, her er fonten skalerbar fra 6vw og ned til 50px. Da blir ikke teksten for liten!*/

    /*Dette er visst en form for "Clamping" og kan ha dårlig støtte på eldre browsers. Det kan derfor være tryggere å bruke meda tags, ihvertfall som backup!*/
}

.xlarge-font{
    /*font-size: 7rem;*/
    font-size: 8vw; /*Den store teksten krymper når skjermstørrelsen krymper!*/
}

.large-p-font{
    font-size: 36px;
    line-height: 1.5;
}

.medium-p-font{
    font-size: 25px;
    line-height: 1.5;
}

.small-p-font{
    font-size: 19px;
    line-height: 1.5;
}

#colortext{
    color: mediumseagreen;
}

#boldtext {
    font-weight: bold;
}

.button{
    border: none;
    color: white;
    padding: 1rem;
    font-size: 1rem;
    cursor: pointer;
    background-color: teal;
}

.large-button{
    padding: 2rem;
    font-size: larger;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}


/*Slutt CSS FOR INDEX.HTML*/

/* USING APP CSS */

.pagebreak{
    page-break-after: always; 
}

#fp-row-2 > div > h1{
   padding-bottom: 0;
   padding-top: 0;
}

#HamburgerFull > *{
    display: none;
}

#usingApp-row-top > div >  h1{
    margin-top: 5%;
    margin-bottom: 30px;
    color: mediumseagreen;
    letter-spacing: 5px;
}

#usingApp-row-top > div >  p{
    letter-spacing: 5px;
    text-align: left;
    line-height: 40px;
}


#usingApp-row-top > div >  img{
  display: none;
}
#usingApp-quickAccess{
    display: none;
}

#usingApp-quickAccess > div{
    display: none;
}
#fp-row-3, #fp-row-4{
    margin-top: 50px;
    padding-top: 0;
}

#fp-row-3 > .column-33, #fp-row-4 > .column-33{
    width: 100%;
    page-break-inside: avoid; 
}

#fp-row-3 > .column-33 > div > div > img, #fp-row-4 > .column-33 > div > div > img{
    display: none;
}

#usingApp-row-4{
page-break-after: avoid;
}

#usingApp-row-4 > div > h1{
    text-align: center;
    font-weight: normal;
    letter-spacing: 5px;
    color: rgba(0,0,0,0.85);
}

.tutorialColumn{
    width: 100%; /*slik at de ikke overflower dersom man printer pdf-versjon av siden */
    page-break-inside: auto;
}

.tutorialColumn > div > div> p, .tutorialColumn > div> p{
    font-size: 30px;
}

.tutorialColumn > div {
    border: 3px solid mediumseagreen;
    padding: 20px;

}

.tutorialColumn > div > div> h1{
    margin-bottom: 15px;
}
.tutorialColumn > div > div > div{
    height: 50px;
}

.tutorialColumn > div > div {
    page-break-inside: avoid;
}

.tutorialColumn > div > div > div > a > img {
    width: 50px;
    margin: 0 10px;
    float: right;

}

#download{
    display: none;
}

/*END USING APP CSS */

/*Footer*/
.footer{
    display: none;
}

.footer > *{
    display: none;
}


/*De store og små div'ene i zig-zag faller under hverandre*/
@media screen and (max-width: 1000px){
    .column-25,
    .column-33,
    .column-50,
    .column-66,
    .column-75,
    .column-100{
        width: 100%;
        text-align: center;
    }
    img{
        margin: auto;
    }
    .full-height{
        height: initial;
    }
    .column-border{
        border-right: none;
    }
}



/*Litt mindre padding på rows, i mobiltelefonmodus*/
@media screen and (max-width: 400px){
    .row{
        padding: 1rem;
    }
    .top{
        padding-top: 6rem;
    }
}



/*MEDIA UNIKT FOR USINGAPP.HTML*/
@media screen and (max-width: 1000px){
   #usingApp-row-top > div >  img{
    display: none;
}
    }


/*Slutt MEDIA UNIKT FOR USINGAPP.HTML*/

}