/*Setter litt mindre padding på høyre og venstre side for denne raden, slik at kortene får bedre plass*/
.team-card-row{
    padding: 1rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

/*Hele kortet, som inneholder både bildet og tekst i egen div under*/
.team-card{
    float: center;
	display: grid;
    background-color:  rgb(219, 92, 92);
	border-radius: 10px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.432);
    border: 1px solid rgb(180, 14, 14);
}

/*Styling for å få runde bilder*/
.team-card > img {
	justify-self: center;
	width: 250px;
	height: 250px;
    margin: 10px;
    border-radius: 50%;
    border: solid 2px darkred;
	object-fit: cover;
}

/*Styling for å få pen tekst under bildet*/
.team-text{
    text-align: center;
    align-content: center;
	background-color: rgba(255, 255, 255, 0.877);
    padding-top: 1rem;
	border-radius: 0px 0px 10px 10px;
	width: 100%;
	font-size: 1.2em;
	justify-self: center;
}

/*Litt ekstra justering for h3 og p tags*/
.team-text > h3{
    margin-bottom: 5px;
    text-decoration: underline;
}

.team-text > p {
    line-height: 1.5rem;
    font-size: 18px;
    font-weight: bold;
}

/*Skalerer slik at en rad på fire blir til to rader med to team-card hver*/
@media screen and (max-width: 1200px){
    .card-column{
        width: 50%;
        text-align: center;
    }
}

/*Skalerer slik to rader med to team-card hver blir til en kolonne med kort nedover*/
@media screen and (max-width: 650px){
    .card-column{
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 350px){
    .team-card > img {
        width: 200px;
        height: 200px;
    }
}

